<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">  <!-- Добавьте ссылку на CSS, если у вас есть -->
</head>
<body>
    <header>
        <h1>Добро пожаловать на мой сайт!</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Главная</a></li>



                {% if user.is_authenticated %}
                    <li><a href="{% url 'account' %}">Личный кабинет</a></li>
                    <li>
                        <form action="{% url 'logout' %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit">Выход</button>
                        </form>
                    </li>
                {% else %}
                    <li><a href="{% url 'register' %}">Регистрация</a></li>
                    <li><a href="{% url 'login' %}">Вход</a></li>
                {% endif %}

            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Здесь будет содержимое каждой отдельной страницы -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 My Site</p>
    </footer>
</body>
</html>
