{% extends 'base.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Вход</h2>
    {% if error_message %}
        <div class="alert alert-danger">
            {{ error_message }}
        </div>
    {% endif %}
    <div class="border p-4 rounded bg-light mx-auto" style="max-width: 400px;">
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Имя пользователя:</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-person"></i></span> <!-- Иконка пользователя -->
                    <input type="text" name="username" class="form-control" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Пароль:</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-lock"></i></span> <!-- Иконка замка -->
                    <input type="password" name="password" class="form-control" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary w-100">Войти</button> <!-- Убираем анимацию -->
        </form>
    </div>
</div>

{% endblock %}
